/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  color: #3F312E;
  background: #ECD078 url(../img/bg.jpg) repeat-x top left;
}

a:link, a:visited {
  color: #D95B43;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-wrapper {
  background: transparent url(../img/main.png) top left;
  float: left;
  padding: 10px;
}

#main {
  float: left;
  background: #FFF;
}

#region-content,
#region-sidebar-second {
  margin: 0;
}

.region-content-inner,
.region-sidebar-second-inner {
  padding: 20px;
}

.zone-branding-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #D95B43 url(../img/bg-title.jpg) repeat-x top left;
}

.zone-content-wrapper {
margin-top: 32px;
padding-bottom: 10px;
}

.site-name {
  font-family: "PT Serif";
  font-weight: 700;
}

.site-name a {
  color: #FFF;
}

.site-slogan {
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif";
  font-weight: 400;
}

.block-main-menu ul li.leaf {
  list-style-type: none;
  list-style-image: none;
  padding: 10px;
  border-top: 1px dashed #F5E4B0;
}

.pull-right {
  float: right;
  max-width: 320px;
  margin: 10px 0 10px 10px;
}

.pull-right img {
  max-width: 320px;
}

.pull-left {
  float: left;
  max-width: 320px;
  margin: 10px 10px 10px 0;
}

.pull-left img {
  max-width: 320px;
}

#title-wrapper {
  background: #D95B43 url(../img/bg-title.jpg) repeat-x top left;
  margin-left: -40px;
  position: relative;
}

#title-wrapper #page-title {
  color: #FFF;
  padding-left: 40px;
}

#title-wrapper .fold {
  background: url(../img/title-fold.png) no-repeat left top;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 20px;
  height: 15px;
}

#connect {
  border: 1px solid #EDEDED;
}

#social {
  margin-bottom: 0;
}

#connect ul li {
  background: url(../img/connect_grad.png) repeat-x top left;
  height: 34px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  cursor: pointer;
  list-style-type: none;
}

#connect ul li a {
  color: #53777A;
  font-weight: bold;
  text-transform: uppercase;
}

#connect ul li a span {
color: #3F312E;
display: inline-block;
font-size: 12px;
font-weight: normal;
font-style: italic;
margin-left: 15px;
}

#logo {
  display: inline-block;
  width: 80px;
  border-radius: 300px;
}

.node-title a {
  color: #3F312E;
}

.field-name-field-cover-image {
  display: inline-block;
  float: right;
  padding: 0 0 20px 20px;
}

.field-name-field-cover-image img {
  padding: 4px;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-polaroid {
  display: inline-block;
  padding: 4px;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.node-teaser {
  margin-bottom: 48px;
}

.node-links a {
color: white;
background-color: #D95B43;
}

.node-links a {
display: inline;
font-size: 12px;
padding: 6px 8px 4px 6px;
}

nav.links.node-links {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.region-sidebar-second .block {
  margin-bottom: 20px;
}

.region-sidebar-second .block-title {
  color: white;
  background-color: #53777A;
  position: relative;
  margin: 0 -40px 0 0;
  padding: 5px 40px 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.region-sidebar-second .block-title + .content {
  margin-top: 10px;
}

.region-sidebar-second .block-title span {
  background: url(../img/block_fold.png) no-repeat center center;
  position: absolute;
  display: block;
  right: 0;
  bottom: -15px;
  width: 20px;
  height: 15px;
}

article.node .content {
  margin-bottom: 20px;
}

blockquote {
  margin-left: 5em;
}

.rf {
  margin-left: 5em;
  text-indent: -5em;
}

.page-links {
  margin-top: 20px;
}

.block-book-navigation .block-title a {
  color: #FFF;
}
